<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/buttons.css">
<title>main</title>
</head>

<body>
<header class="head"> <a class="head_tx" href="/exit">退出登陆</a> <a class="head_tx" href="/change">修改密码</a>
  <div class="title"> <a href="/main">个人信息</a> <a href="/activities">活动综述</a> <a href="">成绩汇报</a> </div>
</header>
<div class="main">
  <div class="mian_text">
    {{.LayoutContent}}
  </div>
</div>
</body>
</html>