<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title></title>

<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/buttons.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container" role="main">
            <br>
      <br>
    <div class="page-header">

      <h1>活动综述</h1>
    </div>
    {{range $_,$a := .activities}}
   <div class="row">
        <table class="table table-condensed">
            <caption>{{$a.Name}}</caption>
            <thead>
                <tr>
                  <th>#</th>
                  <th>学号</th>
                  <th>姓名</th>
                  <th>状态</th>
                </tr>
            </thead>
            <tbody>
              {{range $index,$j := $a.ShowWhoJion}}
                <tr>
                  <th scope="row">{{$index}}</th>
                  <td>{{$j.StudentId}}</td>
                  <td>{{$j.CheckStudent}}</td>
                  <td>{{$j.Status}}</td>
                  <td style="width: 100px">
                    <form method="POST" action="/teacher/main">
                    <input hidden="hidden" name="StudentID" value="" />
                    <button class="button button-small button-action" {{if ne $j.Status "审核中"}}disabled="disabled"{{end}}>通过</button>
                    </form>
                  </td>
                  <td style="width: 150px">
                    <button class="button button-small button-action" {{if ne $j.Status "审核中"}}disabled="disabled"{{end}}>不通过</button>
                  </td>
                </tr>
              {{end}}
            </tbody>
        </table>
   </div>
   {{end}}
 </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/js/bootstrap.min.js"></script>
</body>
</html>